{% extends 'base.html' %} {% block title%} About Us {% endblock%} {% block
body%}
<div class="container">
  <div class="row justify-content-center mt-3 mb-3">
    <div
      class="
        col-sm-8 col-md-6 col-lg-4 col-xl-4 col-8
        text-center
        home-page-title
      "
    >
      <marquee width="“75%”">About Us!</marquee>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-11">
      <div class="card about-us-card">
        <div class="card-body">
          <h5 class="card-title">Founders</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">The HHS Alumni website was created by <b> <a class="bold-name" href="https://www.linkedin.com/in/rithesh-rajasekar-a29580169" target="_blank">Rithesh Rajasekar (HHS '21)</a></b>.</li>
              <li class="mb-2">Credits to the 2020-2021 Hightstown Student Council including <b class="bold-name">Peri Luther(HHS '22), Priel Srivastava(HHS '21), Liz Lopez(HHS '21), Rachael Hu(HHS '21), Rithesh Rajasekar(HHS '21), Darsh Mehta(HHS '22), Priyanka Das(HHS '23), Mr. Kamps, and Ms. Taitt</b></li>
              <li class="mb-2">Reach out the team at <a class="email" href="mailto: hightstownstudentcouncil@gmail.com">hightstownstudentcouncil@gmail.com</a> for any details about the website!</li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-11">
      <div class="card about-us-card">
        <div class="card-body">
          <h5 class="card-title">Our Mission</h5>
          <p class="card-text mt-3 mb-2">
            At Hightstown High School, our sense of community is extremely invaluable. We know that the relationships we’ve built doesn’t have to end at graduation, and through our HHS Alumni page, we aim to help nourish these connections for a lifetime. To us, a community is more than belonging. Our goal is to go one step further and make belonging matter. Feel free to reach out to old and new friends alike. As Rams, we’re strong. But together as a herd, we’re stronger. Let’s stay connected! 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
