{% extends 'base.html' %} {% block title%} About Us {% endblock%} {% block
body%}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-11">
      <div class="card about-us-card">
        <div class="card-body">
          <h5 class="card-title">Founders</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">HHS Alumni was created by <b> <a class="bold-name" href="https://www.linkedin.com/in/rithesh-rajasekar-a29580169" target="_blank">Rithesh Rajasekar</a></b> (HHS '21).</li>
              <li class="mb-2">Credits to Hightstown Student Council including <b class="bold-name">Peri Luther(HHS '22), Priel Srivastava(HHS '21), Liz Lopez(HHS '21), Rachael Hu(HHS '21), Darsh Mehta(HHS '22), Priyanka Das(HHS '23), Mr. Kamps, and Ms. Taitt</b></li>
              <li class="mb-2">Reach out the team at <a class="email" href="mailto: hightstownstudentcouncil@gmail.com">hightstownstudentcouncil@gmail.com</a> for any details about the website!</li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-11">
      <div class="card about-us-card">
        <div class="card-body">
          <h5 class="card-title">HHS Alumni Vision</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">Vision Statement 1</li>
              <li class="mb-2">Vision Statement 2 </li>
              <li class="mb-2">Vision Statement 3</li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
