{% extends 'base.html' %} {% block title%} About Us {% endblock%} {% block
body%}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-11">
      <div class="card about-us-card">
        <div class="card-body">
          <h5 class="card-title">Founders</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">HHS Alumni was created by <b class="bold-name">Rithesh Rajasekar</b> from Hightstown High School.</li>
              <li class="mb-2">Credits to Hightstown Student Council including <b class="bold-name">Peri Luther, Priel Srivastava, Liz Lopez, Rachael Hu, Darsh Mehta, Priyanka Das, Mr. Kamps, and Ms. Taitt</b></li>
              <li class="mb-2">Feel free to reach out the team at <a class="email" href="mailto: hightstownstudentcouncil@gmail.com">hightstownstudentcouncil@gmail.com</a> or <a class="email" href="mailto: rithesh.rajasekar@gmail.com">rithesh.rajasekar@gmail.com</a> for any technical questions about the website!</li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-11">
      <div class="card about-us-card">
        <div class="card-body">
          <h5 class="card-title">HHS Alumni Vision</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">Vision Statement 1</li>
              <li class="mb-2">Vision Statement 2 </li>
              <li class="mb-2">Vision Statement 3</li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
