{% extends 'base.html' %} {% block title%} Administrator {% endblock%} {% block
body%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    var cw = $(".profile_pic").width();
    $(".profile_pic").css({
      height: cw + "px",
    });
  });
</script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <form method="POST" enctype="multipart/form-data">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8">
              <div class="input-group">
                <input
                  id="check_unapproved"
                  name="check_unapproved"
                  type="hidden"
                  value="check_unapproved"
                />
                <button type="submit" class="btn btn-check-unapproved mt-5">
                  Check Unapproved Entries
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
      <img
        src="{{url_for('static', filename='images/hightsown_logo.jpeg')}}"
        alt=""
        width="100%"
      />
    </div>
    <div class="col-5"></div>
  </div>
  <div class="row justify-content-center mt-3">
    <form method="POST" enctype="multipart/form-data">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="input-group">
              <input
                type="search"
                name="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <button type="submit" class="btn btn-custom">search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  {% if entries|length > 0 %}
  <div class="container-fluid mt-5">
    <hr />
    {% for entry in entries %}
    <div class="row mt-3 g-3">
      <div class="col-sm-3 col-md-2 col-lg-2 col-xl-1 col-4">
        <img
          src="https://s3.us-east-2.amazonaws.com/hhs.alumni/{{entry.profile_pic}}"
          class="img-fluid rounded-circle profile_pic"
          alt=""
          width="75%;"
        />
        {% if entry.approval_status == "pending" %}
        <form method="POST" enctype="multipart/form-data">
          <input
            id="approve"
            name="approve"
            type="hidden"
            value="{{entry.id}}"
          />
          <button type="submit" class="btn btn-success btn-approve">
            <div>approve</div>
          </button>
        </form>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
          <input id="delete" name="delete" type="hidden" value="{{entry.id}}" />
          <button type="submit" class="btn btn-danger btn-delete">
            <div>delete</div>
          </button>
        </form>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 col-8">
        <h6 class="font-weight-bold">
          {{entry.first_name}} {{entry.last_name}}
        </h6>
        <p class="font-weight-bold blue-text">
          Affiliated Industries: {{entry.job_sector}}
        </p>
        <p class="email">Email: {{entry.email}}</p>
        <p class="college_name">College Name: {{entry.college_name}}</p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque,
          repudiandae placeat expedita pariatur totam harum quia ipsam
          consequuntur sint aliquam aperiam maiores recusandae optio culpa,
          minima delectus suscipit nam eos excepturi. Delectus nihil error
          repellendus consequatur reiciendis sunt reprehenderit dignissimos
          recusandae animi! Beatae non quae nam modi mollitia doloribus ut.
        </p>
      </div>
    </div>
    <hr />
    {% endfor %}
  </div>
  {% else %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-5">
        <p>No entries found with the given search terms</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock%}
