{% extends 'base.html' %} {% block title%} Administrator {% endblock%} {% block
body%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    var cw = $(".profile_pic").width();
    $(".profile_pic").css({
      height: cw + "px",
    });
  });
</script>

<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-2"></div>
    <div class="col-8">
      <form method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <input
            type="search"
            name="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button type="submit" class="btn btn-custom">search</button>
        </div>
      </form>
    </div>
    <div class="col-2">
      <form method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <input
            id="check_unapproved"
            name="check_unapproved"
            type="hidden"
            value="check_unapproved"
          />
          <button type="submit" class="btn btn-check-unapproved">
            All Pending Entries
          </button>
        </div>
      </form>
    </div>
  </div>

  {% if count > 0 %}
  <div class="container-fluid mt-5">
    <hr />
    {% for entry in entries.items %}
    <div class="row mt-3 g-3">
      <div class="col-sm-3 col-md-2 col-lg-2 col-xl-1 col-4">
        {% if entry.profile_pic == "none" %}
        <img
          src="{{url_for('static', filename='images/default_profile.png')}}"
          class="img-fluid rounded-circle profile_pic"
          alt=""
          width="75%;"
        />
        {% else %}
        <img
          src="https://s3.us-east-2.amazonaws.com/hhs.alumni/{{entry.profile_pic}}"
          class="img-fluid rounded-circle profile_pic"
          alt=""
          width="75%;"
        />
        {% endif %} {% if entry.approval_status == "pending" %}
        <form method="POST" enctype="multipart/form-data">
          <input
            id="approve"
            name="approve"
            type="hidden"
            value="{{entry.id}}"
          />
          <input id="admin_search_input" name="admin_search_input" type="hidden" value={{admin_search_input}} />
          <input id="admin_path_search" name="admin_path_search" type="hidden" value={{search}} />
          <button type="submit" class="btn btn-success btn-approve">
            <div>approve</div>
          </button>
        </form>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
          <input id="delete" name="delete" type="hidden" value="{{entry.id}}" />
          <input id="admin_search_input" name="admin_search_input" type="hidden" value={{admin_search_input}} />
          <input id="admin_path_search" name="admin_path_search" type="hidden" value={{search}} />
          <button type="submit" class="btn btn-danger btn-delete">
            <div>delete</div>
          </button>
        </form>
        <form method="POST" enctype="multipart/form-data">
          <input id="update" name="update" type="hidden" value="{{entry.id}}" />
          <input id="admin_search_input" name="admin_search_input" type="hidden" value={{admin_search_input}} />
          <input id="admin_path_search" name="admin_path_search" type="hidden" value={{search}} />
          <button type="submit" class="btn btn-info btn-update">
            <div>update</div>
          </button>
        </form>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 col-8">
        <h6 class="font-weight-bold mb-3">
          <span class="entry-name">{{entry.first_name}} {{entry.last_name}}</span> (HHS
          {{entry.graduation_year}})
        </h6>
        {% if entry.college_name != "none" %}
        <p class="college_name mb-2"><span style="font-style: italic;">College Name:</span> {{entry.college_name}}</p>
        {% endif %}
        <p class="email-2 mb-2"><span style="font-style: italic;">Email:</span> <a class="email-2" href="mailto: {{entry.email}}">{{entry.email}}</a></p>
        <p class="font-weight-bold blue-text mb-2">
          <span style="font-style: italic;">Career Field(s)/ Interest(s):</span> {{entry.job_sector}}
        </p>
        <p class="mb-2"><span style="font-style: italic;">About Me:</span> {{entry.blurb}}</p>
      </div>
    </div>
    <hr />
    {% endfor %}
    <!-- Pagination Links-->
    <div class="text-right">
      <form method="POST" enctype="multipart/form-data" style='display:inline;'>
        <input id="pagePrevious" name="pagePrevious" type="hidden" value={{entries.prev_num}} />
        <input id="admin_search_input" name="admin_search_input" type="hidden" value={{admin_search_input}} />
        <input id="admin_path_search" name="admin_path_search" type="hidden" value={{search}} />
        <button type="submit" class="btn btn-outline-dark
        {%
        if
        entries.page
        ==
        1
        %}disabled{%
        endif
        %}">
          <div>&laquo;</div>
        </button>
      </form>
      <form method="POST" enctype="multipart/form-data" style='display:inline;'>
        <input id="pageNext" name="pageNext" type="hidden" value={{entries.next_num}} />
        <input id="admin_search_input" name="admin_search_input" type="hidden" value={{admin_search_input}} />
        <input id="admin_path_search" name="admin_path_search" type="hidden" value={{search}} />
        <button type="submit" class="btn btn-outline-dark
        {%
        if
        entries.page
        ==
        entries.pages
        %}disabled{%
        endif
        %}">
          <div>&raquo;</div>
        </button>
      </form>
    </div>
    <p class="text-right mt-3">
      Showing page {{ entries.page }} of {{ entries.pages }}
    </p>
  </div>
  </div>
  {% elif search %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-5">
        <p>No entries found with the given search terms</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock%}
