{% extends 'base.html' %} {% block title%} Help {% endblock%} {% block body%}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-11">
      <div class="card help-card">
        <div class="card-body">
          <h5 class="card-title">How to Search</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">On the home page, you can search for Hightstown High School Alumni.</li>
              <li class="mb-2">You can search for alumni using different key words such as first name, last name, college name, HHS graduation year, areas of interests, career fields, and more! </li>
              <li class="mb-2">Other tips TBD</li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-11">
      <div class="card help-card">
        <div class="card-body">
          <h5 class="card-title">How to Add Your Profile</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">If you are a Hightstown High School Alumni, we encourage you to add your profile on the Add Profile page!</li>
              <li class="mb-2">Once you submit your profile, it will be approved by an administrator before your profile will become public.</b></li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-11">
      <div class="card help-card">
        <div class="card-body">
          <h5 class="card-title">How to Update Your Profile</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">To update your current profile, please send an email to <a class="email" href="mailto: hightstownstudentcouncil@gmail.com">hightstownstudentcouncil@gmail.com</a> detailing what you would like to change. </li>
              <li class="mb-2">Note: All updates <b class="bold-name">must</b> be sent from the email that the profile was created with</b></li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-11">
      <div class="card help-card">
        <div class="card-body">
          <h5 class="card-title">Additional Questions</h5>
          <p class="card-text">
            <ul>
              <li class="mb-2">For any other questions or comments, please reach out to us at <a class="email" href="mailto: hightstownstudentcouncil@gmail.com">hightstownstudentcouncil@gmail.com</a></li>
            </ul>   
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
