{% extends 'base.html' %} {% block title%} About Us {% endblock%} {% block
body%}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-11 text-center">
      <h4>Terms and Conditions</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-11">
      <p>All information entered on this website is public information that will be accessible by anyone. You should expect to recieve emails from other HHS alumni and current HHS students. We are not responsibile or liable for any of your personal information provided. We reserve the right to update our terms and conditions at any time.</p>
      <p class="last-updated">Last Updated: 5/29/2021 9:42 pm</p>
    </div>
  </div>
</div>
{% endblock%}
