/* .card-wrapper {
  width: 100%;
  height: 500px;
  perspective: 1000px;
  border: peru;
  box-shadow: palevioletred;
  border-width: 3px;
  border-radius: 20%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-wrapper:hover .content {
  transform: rotateY(180deg);
  transition: 1s;
}

.face-front,
.face-back {
  border-width: 3px;
  border-radius: 20%;
  position: absolute;
  width: 100%;
  height: auto;
  /* background-color: lightcyan; */
/* background: hsla(181, 97%, 85%, 1);

  background: linear-gradient(
    90deg,
    hsla(181, 97%, 85%, 1) 0%,
    hsla(193, 98%, 66%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(181, 97%, 85%, 1) 0%,
    hsla(193, 98%, 66%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(181, 97%, 85%, 1) 0%,
    hsla(193, 98%, 66%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B4FDFE", endColorstr="#54D9FD", GradientType=1 );
  color: black;
  backface-visibility: hidden;
}

.face-back {
  transform: rotateY(180deg);
}

.college_name,
.email {
  text-align: left;
} */

#profile_pic {
  text-align: right;
}

/* body {
  background: rgb(216, 237, 240);
  background: -moz-radial-gradient(
    circle,
    rgba(216, 237, 240, 0.01) 0%,
    rgba(128, 195, 252, 0.01) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(216, 237, 240, 0.01) 0%,
    rgba(128, 195, 252, 0.01) 100%
  );
  background: radial-gradient(
    circle,
    rgba(216, 237, 240, 0.01) 0%,
    rgba(128, 195, 252, 0.01) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8edf0",endColorstr="#80c3fc",GradientType=1);
} */

body {
  /* background: #d8edf0; */
  background: hsla(191, 73%, 93%, 1);

  background: radial-gradient(
    circle,
    hsla(191, 73%, 93%, 1) 0%,
    hsla(240, 92%, 95%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(191, 73%, 93%, 1) 0%,
    hsla(240, 92%, 95%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(191, 73%, 93%, 1) 0%,
    hsla(240, 92%, 95%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DFF5FA", endColorstr="#E7E7FE", GradientType=1 );
}
.navbar-custom {
  background-color: white;
  color: #0800ff;
}

.btn-custom {
  color: white;
  background-color: dimgray;
  outline-color: darkviolet;
}

.btn-approve,
.btn-delete,
.btn-update {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.btn-check-unapproved,
.btn-logout {
  color: white;
  background-color: dimgray;
  outline-color: darkviolet;
}

.other-option {
  width: 50%;
  height: 15px;
}

.star {
  color: red;
  font-size: 15px;
  margin-left: 3px;
}

.email {
  text-decoration: none;
}
.email-2 {
  text-decoration: none;
  color: black;
}
.bold-name {
  color: rgb(90, 90, 90);
  text-decoration: none;
}

.about-us-card,
.help-card {
  background-color: rgba(255, 255, 255, 0.558);
}

.about-us-card:hover,
.help-card:hover {
  background-color: rgb(232, 233, 235);
}

.home-page-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(85, 181, 236);
}
